body
{
    background-color: azure;
}

header
{
    border: 5px solid snow
}

h3, p
{
    display: inline-block;
    color: rgb(10, 10, 10);
    text-align: center;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    font-size: large;
}
label
{

    margin-left: 25%;
}

label, input
{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    color: teal;
    font-size: larger;
    font: bold;
    margin-bottom: 1%;

}

#ItemsImageDiv
{
    display: inline-block;
    border: 5px solid snow;
    margin-top: 5%;
    margin-left: 27%;
}

#SubmitResult
{
    background-color: teal;
    color: whitesmoke;
    font-size: larger;
    margin-left: 45%;
    border: 5px solid whitesmoke;
}


#ResultItemsList
{
    display: inline-block;
    background-color: whitesmoke;
    padding: 2%;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    font: bold;
    margin-bottom: 3%;
    font-size: large;
    list-style-type: none;

}